<div class="boite">
    <div class="img_cheval">
        <img
        src="..\..\assets\cheval2.jpg" 
        alt="img_cheval"
        width="400px"
        height= "600px"
        />
    </div>
    <div class="fiches_moniteur">
        <div class="fiche">
            <h2>Les chevaux</h2>
            <p>Pour voir la liste des chevaux, cliquez sur "Voir".</p>
            <p>Pour ajouter un nouveau cheval à la liste des chevaux, cliquez sur "Ajouter".</p>
            <button class="button" routerLink="/chevaux">Voir</button>
            <button class="button" style="margin-left: 10px" routerLink="/ajout-cheval">Ajouter</button>
        </div>

        <div class="fiche">
            <h2>Planning</h2>
            <p>Pour voir le planning, cliquez sur "Voir"</p>
            <p>Pour ajouter un court au planning, cliquez sur "Ajouter".</p>
            <button class="button" routerLink="/reprises">Voir</button>
            <button class="button" style="margin-left: 10px" routerLink="/ajout-reprise">Ajouter</button>
        </div> 

    </div>
</div>
<button class="btn" routerLink="/">Retour</button>