table{
    height: 100%;
    width: 100%;
}

caption{
    font-size: 30px;
    color:#87C38F;
}

.boite {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: flex-start
}

table{
    color: white;
    text-align : center;
}

th{
    color:#87C38F;
}