<div class="boite">
    <caption>Fiche de renseignements</caption><br>
    <div>
        <table>
            <tr>
                <th>Identifiant</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Numero de telephone</th>
                <th>Numero de license</th>
                <th>Type d'utilisateur</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstname}}</td>    
                <td>{{user.lastname}}</td>    
                <td>{{user.email}}</td>        
                <td>{{user.num}}</td>
                <td>{{user.licensenum}}</td>
                <td>{{user.usertype}}</td>
            </tr>
        </table>
    </div>
    <div class="img_cheval">
        <img
        src="../../assets/cheval3.jpg" 
        alt="img_cheval"
        width="1000px"
        height= "100%"
        />
    </div>

</div>
