.boite {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: flex-start
}

.fiches_moniteur{
    margin-left: 100px;
    padding: 15px;
}

.fiche{
    width: 350px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-top: 3px;
    background: #bee5c4;
    border-radius: 5px;
    border-left: 5px solid #87C38F;
}

h3{
    color: #87C38F;
    font-family : Montserrat;
}

h2, h1{
    color : white;
    font-family : Montserrat;
}

p{
    color : black;
    font-family : Montserrat;
}

.button {
    background-color: #87C38F;
    border: none;
    color: #bee5c4;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 10px;
}

.btn{
    position        : fixed;
    bottom             : 0;
    right : 0;
    background-color: #87C38F;
    border: none;
    color: #bee5c4;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 10px;
}