<div class="boite">
    <div>
        <table>
            <caption>Gestion des administrateurs</caption><br>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Accès à un compte administrateurs</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td><input type="checkbox" checked></td>
            </tr>
        </table>
    </div>
    <div class="img_cheval">
        <img
        src="../../assets/cheval4.jpg" 
        alt="img_cheval"
        width="1000px"
        height= "100%"
        />
    </div>

</div>