<div class="boite">
    <caption>Gestion des administrateurs</caption><br>
    <div>
        <table>
            <tr>
                <th>id</th>
                <th>Nom d'utilisateur</th>
                <th>Nom </th>
                <th>Prénom </th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
            </tr>
        </table> <br>
        <button class="button" style="margin-left: 10px" routerLink="/add-user">Ajouter</button>
        <button class="button" style="margin-left: 10px" routerLink="/administration">Retour</button>
    </div>
    <div class="img_cheval">
        <img
        src="../../assets/cheval4.jpg" 
        alt="img_cheval"
        width="1000px"
        height= "100%"
        />
    </div>

</div>