h3 ,p{
    color: #DA2C38;
    font-family : Montserrat;
}

h2, label{
    color : white;
    font-family : Montserrat;
}

.boite {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: flex-start
}
