<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<div class="boite">
    <div class="img_cheval">
        <img
        src="..\..\assets\cheval.jpeg" 
        alt="cheval"
        width="500px"
        height= "600px"
        />
    </div>
    <div class="detailcheval">
        <h2>Détail de {{horse.name}}</h2> 

        <hr/>
        <div *ngIf="horse">
          <div>
            <p><strong>Nom: </strong> {{horse.name}}</p>
          </div>
          <div>
            <p><strong>Type: </strong> {{horse.type}}</p>
          </div>
          <div>
            <p><strong>Age: </strong> {{horse.age}}</p>
          </div>  
        </div>
        
        <br>
        <br> 
        <button (click)="list()" class="button">Retour à la liste des chevaux</button><br>
</div>


