h3{
    color: #DA2C38;
    font-family : Montserrat;
}
 
h2, p, label{
    color : white;
    font-family : Montserrat;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.boite {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: flex-start
}

.detailcheval{
    margin-top: 70px;
    margin-left: 150px;
}

.button {
    background-color: #DA2C38;
    border: none;
    color: #FFDEE0;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 5px;
    font-size: small;
}