<html>
    <table>
        <caption>Utilisateurs</caption><br>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Statut du compte</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.lastname}}</td>
            <td>{{user.firstname}}</td>
            <td><select id="Fonctionelle">
                <option value="">--Modifier le statut du compte--</option>
                <option value="fonctionnelle">Fonctionelle</option>
                <option value="restreint">Restreint</option>
                <option value="bannis">Bannis</option>
              </select>
              </td>
        </tr>
    </table>

    <!-- pour la mise en page  -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>
