<html>
    <caption>Utilisateurs</caption><br>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type d'utilisateur</th>
            <th>Modifier le type d'utilisateur</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.usertype}}</td>
            <td>
                <select name="usertype" [(ngModel)]="user.usertype" reqired>
                    <option value="Moniteur" >Moniteur</option>
                    <option value="Administrateur">Administrateur</option>
                    <option value="Élève" selected>Élève</option>
                </select>
            </td>
            <td>
                <button (click)="updateUser()" class="button" style="margin-left: 10px">Ok</button>
            </td>
        </tr>
    </table>

    <!-- pour la mise en page  -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</html>
