<!-- <html>
    <body>
        
        <img src="../../assets/cheval.jpg">     
        <a routerLink="/gestion_administrateur"><button class="btn" type="button">Gérer les comptes administrateurs</button></a>
        <a routerLink="/gestion_utilisateur"><button class="btn" type="button">Gérer les comptes utilisateurs</button></a>
        <a routerLink="/fiche_renseignement"><button class="btn" type="button">Voir les fiches de renseignements</button></a>
    </body>
</html> -->

<div class="boite">
    <div class="img_cheval">
        <img
        src="../../assets/cheval.jpg" 
        alt="img_cheval"
        width="520px"
        height= "100%"
        />
    </div>
    <div class="fiches_moniteur">
        <h1>Bienvenue Super Utilisateur !</h1>
        <div class="fiche">
            <h2>Gérer les comptes administrateurs</h2>
            <button class="button" routerLink="/gestion_administrateur">Cliquez ici</button>
        </div>

        <div class="fiche">
            <h2>Gérer les comptes utilisateurs</h2>
            <button class="button" routerLink="/gestion_utilisateur">Cliquez ici</button>
        </div> 

        <div class="fiche">
            <h2>Voir les fiches de renseignements</h2>
            <button class="button" routerLink="/fiche_renseignement">Cliquez ici</button>
        </div> 

    </div>
</div>
<button class="btn" routerLink="/">Retour</button>
<router-outlet></router-outlet>