<html>
    <!-- <nav class="topnav">
        <a class="active" href="#home">MyHorse</a>
        <a href="#news">Agenda</a>
        <a href="#contact">Ecurie</a>
        <a href="#about">Reprises</a>
    </nav> -->
    <body>
        <h1>Bienvenue Super Utilisateur !</h1>
        <img src="../../assets/cheval.jpg">     
        <a routerLink="/gestion_administrateur"><button class="button1" type="button">Gérer les comptes administrateurs</button></a>
        <a routerLink="/gestion_utilisateur"><button class="button2" type="button">Gérer les comptes utilisateurs</button></a>
        <a routerLink="/fiche_renseignement"><button class="button3" type="button">Voir les fiches de renseignements</button></a>
    </body>
</html>

<router-outlet></router-outlet>