<div class="open-close-container" (click)= toggle()></div>

<form [@connexionApparait]="isOpen ? 'hiden' : 'show'" class="connexion-form" accept-charset="UTF-8" action="" method="post">
    <input name="email" type="text" placeholder="Username" [(ngModel)]="user.username" required>
    <input name="password" type="password" placeholder="Mot de passse" [(ngModel)]="user.password" required>
    <button type="submit" (click)=onSubmit() >Valider</button>
</form>
<div class="image-background" [@openClose]="isOpen ? 'open' : 'closed'">   
    <h1>L'équitation une passion</h1>
    <img class="img" 
    alt="image principale" 
    src="https://images.unsplash.com/photo-1553284965-e2815db2e5a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
</div>